<footer class="bg-dark text-light py-1 fixed-bottom">
  <div class="container text-center">
    <p class="small">© 2024 Jose Ignacio Costa and Carlos Rencoret. All rights reserved.</p>
  </div>
</footer>